In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("dataset3_distribution_matched.csv")
df

,source_accession,fragment_type,sequence,is_fragment,removed_region,generation_method,sequence_length
0,A6QLH5,terminal_both,YHYFLVLDFEATCDKPQIHPQEIIEFPILKLNGRTMEIESTFHMYV...,1,"1-142,199-337",synthetic,56
1,E0Y421,mixed,MVLIRVLANLLLLQLSYAQKCRAAYRGLPAQSRTLCAGILQGGIGS...,1,"21-172,203-257",synthetic,50
2,Q8DDD6,complete,MVSNLQQVVKALKQGQVVAYPTEGVFGLGCDPDNEVAIERLLTIKQ...,0,NaN,complete,186
3,Q8NFP7,mixed,MKCKPNQTRTYDEVYEEAGVKGKLGRLLGVFEQNQDPKHRTYVYVL...,1,"13-64,132-164",synthetic,79
4,P06263,terminal_C,MNHFPWLTIIVLFPISAGLVIPF,1,24-499,synthetic,23
...,...,...,...,...,...,...,...
199643,B7KH96,complete,MSKGTLFDKVWDLHTVRILPSGQTQLFIGLHLIHEVTSPQAFAMLR...,0,NaN,complete,467
199644,O60784,complete,MDFLLGNPFSSPVGQRIEKATDGSLQSEDWALNMEICDIINETEEG...,0,NaN,complete,492
199645,A7UWD5,complete,MESLNGCVLSQLRQSGAQVTRTLQKIQSRSYSAPVSGSIPAAKKKY...,0,NaN,complete,469
199646,Q09054,complete,MGKIKIGINGFGRIGRLVARVALQSEDVELVAVNDPFITTDYMTYM...,0,NaN,complete,337
199647,P0CI60,complete,FILVVIALMVIEVKSDGYLMVRAGREKGCKVWCVINNTYCDKDCKL...,0,NaN,complete,83

In [18]:
fasta = "\n".join(
    f"> id: {row.source_accession} type: {row.fragment_type} is_fragment: {row.is_fragment} count: {i}\n{row.sequence}"
    for i, row in enumerate(df.itertuples(index=False))
)

print(fasta.count("\n"))

399295

In [19]:
with open("dataset3.fasta", "w") as f:
    f.write(fasta)